/* nav */
.navbar-brand {
    background-color: aqua;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
/* fin nav*/

/*inicio cards*/

.card-title {
    background-color: rgb(0, 110, 255);
  margin-bottom: 0.5rem;
}
/*fin cards/*

/* Inicio Footer*/

.footeripio {
    background-color: rgb(243, 242, 242);
}

/* Fin Footer */


